<h1> Admin: Merchants </h1>

<div id="enabled_merchants">
  <h2> Enabled Merchants </h2>
  <ol>
    <% @enabled_merchants.each do |merchant| %>
      <li><%= link_to "#{merchant.name}", admin_merchant_path(merchant) %></li>
    <% end %>
  </ol>
</div>

<div id="disabled_merchants">
  <h2> Disabled Merchants </h2>
  <ol>
    <% @disabled_merchants.each do |merchant| %>
      <li><%= link_to "#{merchant.name}", admin_merchant_path(merchant) %></li>
    <% end %>
  </ol>
</div>


